<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Games From You</a>
    </div>
    <ul class="nav navbar-right">
      <li><a routerLink="profile">Profile</a></li>
      <li><a routerLink="games">Marketplace</a></li>
      <li><a routerLink="new-game">Publish</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <router-outlet></router-outlet>
</div>
